<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <p class="footer-text">Connect with me on social media</p>
    <a href="https://www.linkedin.com/in/mustafa-imam/" target="_blank" class="footer-link">LinkedIn</a> |
    <a href="https://github.com/Mustafa-Imam" target="_blank" class="footer-link">GitHub</a>
    <span class="navbar-text text-white">© 2023 All Rights Reserved.</span>
  </div>
</nav>
