<%- include('partials/header', { title: title }) %>
<%- include('partials/main_nav') %>

<div class="container text-center">
    <h1>Thank You!</h1>
    <p>Thank you for submitting your message! I will try my best to get back to you. If I don't get back to you in a month, that probably means I forgot to read your email so feel free to send me another message if you want. Please don't spam me, thanks!</p>
    <a href="/" class="btn btn-primary">Go to Home Page</a>
</div>

<%- include('partials/bottom_nav') %>
<%- include('partials/footer') %>
